body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    width:800px;
    margin:0 auto;
    color: #808080;
    font-family:sans-serif;
    padding-left:50px;
    padding-right:50px;
}
.menubar{
    width: 800px;
    margin:0 auto;
   
}
.menubar ul{
    border:1px solid #808080;
    border-radius:5px;
    list-style:none;
}
.menubar ul li{
    float:left;
    padding:5px;
    background-color:navy;
}
.menubar ul li a{
    color:#fff;
}
