body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    width:800px;
    margin:0 auto;
    color: #808080;
    font-family:sans-serif;
    padding-left:50px;
    padding-right:50px;
}
.menubar{
    width: 800px;
    margin:0 auto;
}
.menubar ul{
    width:800px;
    height:50px;
    padding:0;margin:0;
    border:1px solid skyblue;
    border-radius:5px;
    list-style:none;
    background-color:black;
}
.menubar ul li{
    float:left;
}
.menubar ul li a{
    padding-left:10px;
    padding-right:10px;
    color:#fff;
    text-decoration:none;
}
